body {
  background-color: #eaeaea;
}

/* Forms */
.center-fields {
  text-align: center;
}

.form-card {
  margin: 15px;
}

.page-header {
  text-align: center;
  margin-bottom: 5%;
}

.sub-header {
  font-size: 20px;
}

.button {
  margin: 10px;
}

.submit {
  display: inline;
  margin: 10px;
}

.grid {
  font-family: 'Roboto', sans-serif;
}

.container .jumbotron {
    border-radius: 0px;
}

.container .panel {
  border-radius: 2px;
}

.results {
  margin-top: 3%;
}

.query-submit {
  margin-top: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
